@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'anaktoria';
    src: url('/fonts/anaktoria.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @theme {
    --font-sans: 'anaktoria', 'sans-serif';
  }