@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Anaktoria';
    src: url('/fonts/anaktoria.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
