<footer
    class="main-footer-section bg-black text-center py-10 border-t border-gray-800"
>
    The Waris &copy {new Date().getFullYear()}
    <br /> Todos los derechos reservados
    <p>
        Contacto: <a
            href="mailto:thewarisayacucho@gmail.com"
            class="text-accent hover:underline">thewarisayacucho@gmail.com</a
        >
    </p>
</footer>
