<main>
	<!-- Hero Section -->
	<section
		id="hero"
		class="hero-section relative flex items-center justify-center md:min-h-screen text-center content-section"
	>
		<div
			class="hero-content relative z-10 flex flex-col items-center justify-center w-full"
		>
			<h1 class="font-anaktoria text-4xl md:text-6xl font-bold md:mt-10">
				<img
					class="animate-spin"
					src="/images/the-waris-mandala.png"
					alt="The Waris"
					width="600"
					height="600"
					style="animation-duration: 30s;"
				/>
			</h1>
			<a
				class="font-anaktoria text-xl md:text-3xl mb-5 text-accent hover:text-[#e6dfd0]"
				href="https://www.youtube.com/watch?v=CL8ya8-mbuw"
			>
				La Cosecha De Las Malas Siembras
			</a>
			<div class="flex flex-col justify-center items-center md:flex-row">
				<a
					class="md:x-3 mx-1.5 text-[#e6dfd0] hover:text-accent"
					href="https://open.spotify.com/intl-es/album/20fCxibOkmz9GHdwtojl3H?si=6BjVEWQzRgqdvJTwNusEOQ"
					><svg
						width="clamp(5rem,6vw,6.25rem)"
						height="clamp(2rem,3vw,3.16rem)"
						viewBox="74.4 1369.1 9772.4 2931"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						><path
							d="M1540 1369a1466 1466 0 1 0 0 2931 1466 1466 0 0 0 0-2931zm672 2114a91 91 0 0 1-126 30c-344-210-777-258-1287-141a91 91 0 1 1-41-178c559-128 1037-73 1424 163 43 27 56 83 30 126zm179-399c-33 54-103 70-157 37-394-242-994-312-1460-170a114 114 0 0 1-67-219c533-161 1194-83 1647 195 53 33 70 103 37 157zm16-416c-473-280-1252-306-1703-169a137 137 0 1 1-79-263c517-157 1378-126 1922 197a137 137 0 0 1-140 235zm1655 54c-253-60-299-103-299-192 0-84 80-140 197-140 114 0 228 43 346 131 4 3 8 4 13 3 4 0 8-3 11-7l123-174c5-7 4-17-3-22a748 748 0 0 0-486-169c-273 0-464 164-464 399 0 251 165 341 449 409 242 56 283 103 283 186 0 93-82 150-215 150-148 0-269-49-403-166-4-3-8-4-13-4-4 0-8 2-11 6l-138 165c-6 7-6 17 1 23a826 826 0 0 0 558 214c294 0 485-161 485-410 0-210-126-327-434-402zm1100-249c-128 0-233 50-319 153v-116c0-9-7-17-17-17h-226c-9 0-17 8-17 17v1288c0 9 8 16 17 16h226c10 0 17-7 17-16v-407c86 97 191 145 319 145 237 0 477-183 477-532s-240-532-477-532v1zm213 531c0 178-109 302-266 302-155 0-272-130-272-302s117-302 272-302c154 0 266 127 266 302zm879-531a534 534 0 0 0-545 535c0 297 238 529 541 529a531 531 0 1 0 4-1065v1zm0 834c-162 0-285-130-285-303 0-174 118-300 281-300 164 0 287 131 287 304s-119 299-283 299zm1195-814h-250v-255c0-9-7-16-16-16h-227c-9 0-16 7-16 16v255h-109c-9 0-17 8-17 17v195c0 9 8 16 17 16h109v504c0 204 101 307 301 307 81 0 149-17 212-53 5-3 8-8 8-14v-186a17 17 0 0 0-24-15c-43 22-85 32-133 32-72 0-105-33-105-107v-468h250c9 0 16-7 16-16v-195c1-9-7-17-16-17zm868 1v-31c0-92 36-133 115-133 47 0 85 9 128 23a17 17 0 0 0 21-15v-191c0-8-4-14-11-16-45-14-103-27-189-27-209 0-320 117-320 340v48h-108c-10 0-17 8-17 17v196c0 9 7 16 17 16h108v777c0 9 8 17 17 17h227c9 0 16-8 16-17v-777h212l324 777c-37 82-73 98-123 98-40 0-82-12-125-35-4-3-8-3-13-2-4 2-8 5-10 9l-76 169c-4 8-1 17 7 21 80 44 152 62 242 62 167 0 260-78 341-287l393-1016a17 17 0 0 0-15-23h-236c-7 0-14 5-16 11l-241 691-265-691c-3-6-9-11-16-11h-387zm-503-1h-227c-9 0-16 8-16 17v988c0 9 7 17 16 17h227c9 0 16-8 16-17v-988a17 17 0 0 0-16-17zm-112-450a162 162 0 1 0-1 325 162 162 0 0 0 1-325zm1985 768c-90 0-160-72-160-159s71-161 160-161a160 160 0 0 1-1 320h1zm0-304c-81 0-143 65-143 145 0 79 61 143 143 143 81 0 143-65 143-144 0-80-61-144-142-144h-1zm36 160 45 63h-38l-41-58h-35v58h-31v-167h74c39 0 65 20 65 53 0 28-16 44-39 51zm-27-75h-42v52h42c21 0 33-10 33-26 0-17-12-26-33-26z"
						></path></svg
					></a
				><a
					class="md:mx-3 mx-1.5 text-[#e6dfd0] hover:text-accent"
					href="https://music.youtube.com/playlist?list=OLAK5uy_l7KdrKR6hrLa8BIFui4Vun-jfPNhqaBbg&si=qoD-nmh6iI2rJ4MF"
					><svg
						width="clamp(5rem,6vw,6.25rem)"
						height="clamp(2rem,3vw,3.16rem)"
						viewBox="0.6 0.7 762.7 170.3"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						><g
							><path
								fill="currentColor"
								d="M239 27c-3-10-11-18-22-21-19-5-95-5-95-5S46 1 27 6C17 9 9 17 6 27 1 46 1 86 1 86s0 39 5 58c2 11 11 19 21 22 19 5 95 5 95 5s76 0 95-5c11-3 19-11 22-22 5-19 5-58 5-58s0-40-5-59z"
							></path><path d="m98 122 63-36-63-37z" fill="#111"
							></path><g fill="currentColor"
								><path
									d="M354 156c-5-4-9-9-11-16-2-6-3-16-3-27V98c0-12 2-21 4-28s6-12 11-15 11-5 19-5 14 2 19 5 8 8 11 15c2 7 3 16 3 28v15c0 11-1 21-3 27-2 7-6 12-11 16-5 3-11 4-19 4zm27-17 2-17V89l-2-17c-2-4-4-6-7-6-4 0-6 2-7 6-2 3-2 9-2 17v33c0 8 0 13 2 17 1 3 3 5 7 5 3 0 5-2 7-5zm342-26v6l1 15 2 8 6 2c4 0 6-1 8-4l2-14 20 1 1 4c0 10-3 17-8 22s-13 7-23 7c-12 0-20-3-25-11s-7-19-7-34V96c0-16 2-28 7-35s13-11 25-11c9 0 15 2 19 5 5 3 8 7 10 14l2 26v18h-40zm3-45-2 8-1 15v8h18v-8l-1-15-2-8c-1-2-4-2-6-2l-6 2zm-431 43-27-98h24l9 44 6 29 6-28 10-45h24l-28 98v48h-24zm189-59v107h-18l-3-13c-5 9-13 14-23 14-7 0-12-2-16-7-3-4-5-11-5-21V52h24v78l2 11c1 3 3 3 5 3l6-2 4-5V52zm123 0v107h-18l-2-13h-1c-5 9-13 14-23 14-7 0-12-2-15-7-4-4-6-11-6-21V52h24v78l2 11c1 2 3 3 5 3l6-2 5-5V52z"
								></path><path
									d="M550 32h-24v127h-24V32h-24V13h72v19zm137 37c-2-7-4-11-7-15-3-3-8-4-13-4s-9 1-13 4c-4 2-7 5-9 10V7h-23v152h20l2-10h1c2 3 4 6 8 8l12 3c9 0 15-4 18-11 4-7 6-19 6-35V97l-2-28zm-22 44-1 18-3 9-6 3-6-1-4-5V77l4-7c2-2 4-3 7-3 2 0 4 1 5 3 2 2 3 5 3 10l1 19v14z"
								></path></g
							></g
						></svg
					></a
				><a
					class="md:mx-3 mx-1.5 text-[#e6dfd0] hover:text-accent"
					href="https://music.apple.com/us/album/la-cosecha-de-las-malas-siembras/1707210303"
					><svg
						width="clamp(5rem,6vw,6.25rem)"
						height="clamp(2rem,3vw,3.16rem)"
						viewBox="-10.3 0 960.2 228.9"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						><path
							d="M398 226V71h-1l-62 155h-24L249 71h-1v155h-30V16h37l67 167h1l67-167h37v210h-29zm190 0h-29v-26h-1c-8 18-24 29-47 29-32 0-52-22-52-57V73h31v93c0 23 10 36 32 36s35-16 35-40V73h31v153zm85-156c35 0 58 20 59 48h-29c-2-15-13-24-30-24s-28 8-28 21c0 9 7 16 23 20l25 5c30 7 42 20 42 42 0 28-25 47-61 47-38 0-60-19-63-48h31c2 16 13 24 32 24s30-8 30-20c0-10-5-16-22-20l-24-6c-29-6-43-20-43-43 0-27 23-46 58-46zm84-38c0-10 8-18 17-18 10 0 18 8 18 18s-8 19-18 19c-5-1-9-2-12-6-4-3-5-8-5-13zm2 41h31v153h-31zm161 53c-3-17-15-30-35-30-24 0-40 21-40 53 0 34 16 54 40 54 19 0 32-11 35-29h30c-3 33-29 55-65 55-43 0-71-30-71-79s28-80 71-80c38 0 62 26 65 56h-30zM124 37c-8 9-21 17-33 16-2-13 4-27 11-36 8-9 22-16 33-17 2 14-3 27-11 37zm11 18c7 1 28 3 41 23-1 1-24 14-24 43 0 35 30 46 30 46 0 1-5 17-15 33-10 14-19 27-35 28-15 0-19-9-36-9-18 0-23 8-37 9-15 0-26-15-35-29C4 171-10 119 9 84c10-17 28-28 47-28 14 0 28 10 36 10 9 0 25-12 43-11z"
							fill="currentColor"></path></svg
					></a
				><a
					class="md:mx-3 mx-1.5 text-[#e6dfd0] hover:text-accent"
					href="https://www.deezer.com/us/album/487902935"
					><svg
						width="clamp(5rem,6vw,6.25rem)"
						height="clamp(2rem,3vw,3.16rem)"
						viewBox="0 0 1000 191.2"
						xmlns="http://www.w3.org/2000/svg"
						fill="currentColor"
						><linearGradient id="a"
							><stop offset="0" stop-color="#cc1953"></stop><stop
								offset="1"
								stop-color="#241284"></stop></linearGradient
						><path
							fill="currentColor"
							d="M234 127c0 40 25 64 61 64 19 0 34-5 43-18v18h33V0h-34v81c-8-13-23-19-41-19-36 0-62 24-62 65zm104 0c0 23-16 37-35 37s-34-14-34-37 15-38 34-38 35 15 35 38zm142 15c-4 15-14 22-30 22-19 0-34-11-34-31h87l2-16c0-35-24-55-60-55-38 0-64 27-64 64 0 41 29 65 69 65 30 0 50-12 59-38zm-64-32c3-15 15-23 29-23 16 0 26 8 26 22v1zm193 32c-4 15-14 22-30 22-19 0-34-11-34-31h87l2-16c0-35-24-55-60-55-38 0-64 27-64 64 0 41 29 65 69 65 30 0 50-12 59-38zm-64-32c3-15 15-23 29-23 16 0 26 8 26 22v1zm212 81v-31h-73l71-69V62H642v30h69l-71 69v30zm101-49c-4 15-14 22-30 22-18 0-33-11-34-31h88l2-16c0-35-25-55-60-55-38 0-65 27-65 64 0 41 29 65 69 65 31 0 51-12 60-38zm-64-32c4-15 16-23 30-23 15 0 26 8 26 22v1z"
						></path><g clip-rule="evenodd" fill="currentColor"
							><path
								d="M156 62h42v25h-42zM156 97h42v25h-42zM156 131h42v25h-42zM0 166h43v25H0zM52 166h43v25H52zM104 166h43v25h-43zM156 166h42v25h-42zM104 131h43v25h-43zM52 131h43v25H52zM52 97h43v25H52z"
							></path></g
						><path
							d="M966 106v4h34v-10c0-22-14-38-37-38-15 0-26 7-31 19V62h-35v129h35v-83c0-13 7-21 18-21 10 1 16 10 16 19z"
						></path></svg
					></a
				><a
					class="md:mx-3 mx-1.5 text-[#e6dfd0] hover:text-accent"
					href="https://tidal.com/album/316077127"
					><svg
						width="clamp(7rem,6vw,6.25rem)"
						height="clamp(2rem,3vw,3.16rem)"
						viewBox="0 0 160 22"
						fill="currentColor"
						xmlns="http://www.w3.org/2000/svg"
						><g data-v-653396df=""
							><path
								d="M58.2177 21.1555H54.1108V6.58787H48.7992V3.06799H63.5293V6.58787H58.2177V21.1555Z"
								data-v-653396df=""></path>
							<path
								d="M75.819 21.1553H79.9501V3.06799H75.819V21.1553Z"
								data-v-653396df=""></path>
							<path
								d="M152.855 17.5861H160V21.1555H148.724V3.06799H152.855V17.5861Z"
								data-v-653396df=""></path>
							<path
								d="M97.7115 17.6108H100.273C103.72 17.6108 106.018 15.4605 106.018 12.0382C106.018 8.78718 103.696 6.58813 100.371 6.58813H97.7115V17.6108ZM93.7028 3.06799H100.395C105.333 3.06799 110.247 5.68264 110.247 12.0626C110.247 18.0761 105.431 21.1551 100.64 21.1551L93.7028 21.1553V3.06799Z"
								data-v-653396df=""></path>
							<path
								d="M125.334 14.375L128.058 7.30083L130.757 14.375H125.334ZM133.175 21.1555H137.715L130.264 3.06799H125.999L118.475 21.1555H122.894L124.227 17.5865H131.853L133.175 21.1555Z"
								data-v-653396df=""></path></g
						>
						<path
							d="M21.1775 5.70464L15.8834 10.9992L10.589 5.70464L15.8834 0.411743L21.1775 5.70464Z"
							data-v-653396df=""></path>
						<path
							d="M21.1775 16.2936L15.8834 21.5882L10.589 16.2936L15.8834 10.9993L21.1775 16.2936Z"
							data-v-653396df=""></path>
						<path
							d="M10.5886 5.70506L5.29417 10.9997L0 5.70506L5.29417 0.411743L10.5886 5.70506Z"
							data-v-653396df=""></path>
						<path
							d="M31.7655 5.70506L26.4715 10.9997L21.1769 5.70506L26.4715 0.411743L31.7655 5.70506Z"
							data-v-653396df=""></path></svg
					>
				</a>
				<a
					class="md:mx-3 mx-1.5 text-[#e6dfd0] hover:text-accent"
					href="https://music.amazon.com/albums/B0CHZSY3YQ"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						width="clamp(7rem,6vw,6.25rem)"
						height="clamp(2rem,3vw,3.16rem)"
						viewBox="0 0 420 70"
						fill="currentColor"
						><path
							fill="currentColor"
							fill-rule="evenodd"
							d="M125.882 21.292V16.33a1.223 1.223 0 0 1 1.189-1.255h21.814a1.199 1.199 0 0 1 1.244 1.156c.002.027.002.054.002.08v4.247a6.984 6.984 0 0 1-1.623 3.128L137.186 40.08c4.296-.24 8.576.7 12.398 2.722a2.268 2.268 0 0 1 1.15 1.93v5.291c.021.651-.477 1.194-1.113 1.215a1.13 1.13 0 0 1-.49-.095 24.59 24.59 0 0 0-22.966 0c-.755.406-1.547-.424-1.547-1.158v-5.02a6.072 6.072 0 0 1 .811-3.399l13.078-19.077h-11.323c-.675.033-1.251-.502-1.283-1.195v-.021l-.019.02zM37.391 51.248a1.273 1.273 0 0 1-1.215-1.152V15.062a1.289 1.289 0 0 1 1.313-1.27H43.894a1.312 1.312 0 0 1 1.253 1.192v4.57h.118a9.048 9.048 0 0 1 9.03-6.484c4.29 0 6.992 2.05 8.912 6.484 2.027-5.22 7.913-7.814 13.149-5.794a10.152 10.152 0 0 1 4.284 3.138c2.174 2.948 1.723 7.225 1.723 10.975v22.125a1.29 1.29 0 0 1-1.33 1.25h-6.857a1.292 1.292 0 0 1-1.234-1.25V31.427c.102-2.19.037-4.382-.196-6.562a3.564 3.564 0 0 0-4.023-3.029l-.012.002a4.564 4.564 0 0 0-4.094 2.871 21.16 21.16 0 0 0-.646 6.718v18.57a1.27 1.27 0 0 1-1.293 1.25h-6.875a1.292 1.292 0 0 1-1.234-1.25v-18.57c0-3.906.646-9.667-4.211-9.667-4.858 0-4.74 5.605-4.74 9.667v18.57a1.272 1.272 0 0 1-1.291 1.253c-.02 0-.041 0-.061-.002h-6.875zm130.812-38.184c10.201 0 15.694 8.526 15.694 19.37 0 10.5-6.081 18.816-15.694 18.816-10.004 0-15.458-8.545-15.458-19.16s5.454-19.026 15.4-19.026h.058zm-5.409 17.975c0 4.2 0 13.177 5.397 13.177s5.635-7.25 5.635-11.661c.117-3.069-.23-6.14-1.032-9.11-.44-2.053-2.38-3.476-4.544-3.338-5.119 0-5.456 6.732-5.456 10.932zm34.613 20.13h-6.337c-.63-.021-1.134-.567-1.144-1.244V14.94c.066-.663.596-1.16 1.217-1.147h5.9c.542.032 1.005.432 1.145.992v5.325h.109c1.815-4.762 4.285-7.036 8.679-7.036 2.983-.155 5.815 1.41 7.426 4.101 1.652 2.78 1.652 7.483 1.652 10.865v22.118c-.084.644-.61 1.116-1.217 1.089h-6.373c-.577-.022-1.056-.478-1.143-1.089v-18.93c0-3.888.415-9.407-3.977-9.407-1.618.09-3.037 1.185-3.631 2.798a16.148 16.148 0 0 0-1.017 6.609v18.775c-.029.717-.597 1.277-1.267 1.246l-.022-.002v-.078zm-82.345-.492a1.393 1.393 0 0 1-1.595.152 16.257 16.257 0 0 1-3.842-4.45A13.48 13.48 0 0 1 98.52 51.23c-5.763 0-10.086-3.475-10.086-10.408-.121-4.767 2.741-9.11 7.185-10.905 3.65-1.585 8.76-1.91 12.66-2.31v-.88a8.343 8.343 0 0 0-.826-4.831 4.488 4.488 0 0 0-3.842-1.738c-2.565-.208-4.886 1.509-5.418 4.01a1.4 1.4 0 0 1-1.172 1.223l-6.512-.688a1.203 1.203 0 0 1-.941-1.413c1.498-7.85 8.645-10.217 15.061-10.217a15.43 15.43 0 0 1 10.105 3.323c3.266 3.036 2.959 7.085 2.959 11.459v10.408a9.141 9.141 0 0 0 2.535 6.188 1.255 1.255 0 0 1 0 1.757c-1.383 1.146-3.842 3.246-5.167 4.45v.019zm-6.609-16.127v-1.388c-4.862 0-9.973.986-9.973 6.431 0 2.759 1.493 4.623 4.078 4.623 2-.068 3.797-1.184 4.67-2.905a11.94 11.94 0 0 0 1.225-6.76zM26.551 50.678a1.404 1.404 0 0 1-1.591.153 16.68 16.68 0 0 1-3.833-4.45 13.44 13.44 0 0 1-11.059 4.85C4.414 51.232.006 47.757.006 40.824a11.343 11.343 0 0 1 7.168-10.905c3.642-1.585 8.72-1.91 12.63-2.311v-.879a8.504 8.504 0 0 0-.824-4.831 4.554 4.554 0 0 0-3.833-1.738 5.096 5.096 0 0 0-5.386 4.01 1.396 1.396 0 0 1-1.169 1.223l-6.516-.688a1.202 1.202 0 0 1-.9-1.413C2.67 15.44 9.8 13.073 16.2 13.073a15.376 15.376 0 0 1 10.1 3.323c3.278 3.037 2.952 7.086 2.952 11.46v10.408a9.144 9.144 0 0 0 2.53 6.188c.487.47.5 1.243.029 1.728l-.029.029c-1.36 1.146-3.833 3.247-5.136 4.45l-.096.019zm-6.522-17.516c-4.856 0-9.98.986-9.98 6.431 0 2.759 1.51 4.623 4.072 4.623 1.989-.08 3.773-1.197 4.646-2.905a11.965 11.965 0 0 0 1.262-6.76v-1.39zM87.873 80.39c-21.116.118-41.515-8.105-57.209-23.069-1.194-1.121-.135-2.671 1.29-1.794 17.477 10.548 37.249 16.08 57.364 16.05 14.996-.077 29.829-3.285 43.653-9.443 2.06-.958 3.85 1.49 1.752 3.12-12.67 9.872-31.021 15.136-46.85 15.136zm51.877-21.21c-1.648-2.14-10.906-1.02-15.065-.499-1.275.138-1.47-.981-.333-1.781 7.395-5.277 19.498-3.758 20.91-1.999 1.412 1.76-.373 14.113-7.297 19.99-1.079.92-2.08.42-1.608-.76 1.55-3.938 5.04-12.791 3.393-14.95zM353.036 45.43c1.29-.896 2.026-2.358 1.955-3.89a3.552 3.552 0 0 0-1.134-2.762 12.663 12.663 0 0 0-4.184-2.142l-6.296-2.256c-5.455-1.879-8.214-5.261-8.214-9.94-.095-2.94 1.297-5.744 3.737-7.518 2.827-1.99 6.276-2.99 9.776-2.837 3.205 0 6.384.554 9.385 1.635a2.75 2.75 0 0 1 1.271.733c.264.417.387.903.35 1.39v1.88c0 .845-.31 1.277-.956 1.277a6.536 6.536 0 0 1-1.701-.357 28.665 28.665 0 0 0-7.977-1.127c-4.732 0-7.118 1.522-7.118 4.604a3.68 3.68 0 0 0 1.193 2.913 15.866 15.866 0 0 0 4.654 2.33l5.865 2.123a15.365 15.365 0 0 1 6.16 3.947 8.505 8.505 0 0 1 1.955 5.788c.119 3.117-1.34 6.1-3.91 8.005-3.037 2.135-6.745 3.195-10.5 3.009a30.013 30.013 0 0 1-11.165-1.994 3.154 3.154 0 0 1-1.212-.77 2.31 2.31 0 0 1-.333-1.353v-1.99c0-.848.294-1.28.88-1.28a7.57 7.57 0 0 1 1.858.432 34.315 34.315 0 0 0 10.128 1.485 9.39 9.39 0 0 0 5.533-1.353v.018zm-32.589-29.894a1.293 1.293 0 0 1 1.099-1.455c.116-.015.232-.015.348.002h4.244a1.28 1.28 0 0 1 1.444 1.099c.017.118.017.238.002.354V49.65c.103.711-.38 1.37-1.077 1.473a1.18 1.18 0 0 1-.37 0h-3.103a1.864 1.864 0 0 1-1.102-.29 1.675 1.675 0 0 1-.552-1.103l-.495-2.56a22.602 22.602 0 0 1-13.76 5.059 10.256 10.256 0 0 1-7.917-2.927 11.761 11.761 0 0 1-2.742-8.272V15.535a1.295 1.295 0 0 1 1.102-1.455 1.22 1.22 0 0 1 .346.002h4.244a1.28 1.28 0 0 1 1.445 1.453v23.247a9.141 9.141 0 0 0 1.505 5.812 5.823 5.823 0 0 0 4.834 1.937 18.841 18.841 0 0 0 10.43-3.504l.075-27.492zm-38.729 35.7a1.288 1.288 0 0 1-1.458-1.096c-.02-.124-.02-.25 0-.376V26.085a8.773 8.773 0 0 0-1.382-5.425 5.192 5.192 0 0 0-4.356-1.744 20.356 20.356 0 0 0-10.669 3.294c.031.36.031.724 0 1.085v26.468a1.295 1.295 0 0 1-1.46 1.472h-4.277a1.288 1.288 0 0 1-1.458-1.096c-.02-.124-.02-.25 0-.376V26.085a8.913 8.913 0 0 0-1.363-5.425 5.235 5.235 0 0 0-4.356-1.744 19.53 19.53 0 0 0-10.61 3.216v27.63a1.296 1.296 0 0 1-1.09 1.472 1.24 1.24 0 0 1-.35.001h-4.298a1.291 1.291 0 0 1-1.44-1.472V15.64a1.279 1.279 0 0 1 1.067-1.453 1.2 1.2 0 0 1 .373 0h3.223c.392-.02.78.081 1.113.29.317.278.516.665.557 1.086l.422 2.344a23.953 23.953 0 0 1 13.586-4.824c4.507 0 7.54 1.724 9.153 5.192a24.36 24.36 0 0 1 14.372-5.192c2.84-.179 5.624.854 7.675 2.848a11.42 11.42 0 0 1 2.687 8.118v25.713a1.295 1.295 0 0 1-1.459 1.472h-4.202zM392.93 23.097c-1.775 2.039-2.663 5.3-2.663 9.782v.936c0 4.375.913 7.642 2.701 9.552a10.814 10.814 0 0 0 8.541 3.076c2.193-.03 4.37-.37 6.467-1.013a5.666 5.666 0 0 1 1.085-.21c.627 0 .932.478.932 1.433v1.91c.036.478-.063.954-.286 1.376-.3.373-.703.644-1.16.785a20.54 20.54 0 0 1-8.198 1.527c-5.707 0-9.987-1.624-12.992-4.87-3.006-3.25-4.49-7.95-4.49-14.101 0-6.152 1.541-10.832 4.642-14.176a17.076 17.076 0 0 1 13.125-5.005 21.97 21.97 0 0 1 7.609 1.376c.432.128.82.372 1.122.706.247.442.36.948.323 1.452v1.91c0 .956-.323 1.434-.932 1.434a4.533 4.533 0 0 1-1.16-.21c-1.94-.57-3.953-.86-5.973-.86-3.994.134-6.886 1.146-8.674 3.19h-.019zm-18.534-7.01c.686-.1 1.323.381 1.42 1.073.017.113.02.229.004.344V50.8a1.264 1.264 0 0 1-1.424 1.436h-4.178a1.257 1.257 0 0 1-1.407-1.09 1.188 1.188 0 0 1 .002-.346V17.523a1.246 1.246 0 0 1 1.405-1.417l4.178-.02zm1.244-13.851c1.598 1.88 1.598 4.692 0 6.572a5.063 5.063 0 0 1-6.63 0c-1.621-1.868-1.621-4.704 0-6.572a5.063 5.063 0 0 1 6.63 0z"
						></path></svg
					>
				</a>
			</div>
		</div>
	</section>

	<!-- Spotify Section -->
	<section
		id="music"
		class="content-section py-16 px-4 max-w-4xl mx-auto spotify-section bg-black rounded-lg"
	>
		<h2
			class="font-anaktoria text-3xl md:text-4xl text-[#e6dfd0] font-bold text-center mb-10"
		>
			Música
		</h2>
		<iframe
			style="border-radius:12px"
			src="https://open.spotify.com/embed/artist/1YHKb15AHSedTJuey2Ndnq?utm_source=generator"
			width="100%"
			height="600"
			frameBorder="0"
			allowfullscreen=""
			allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
			loading="lazy"></iframe>
	</section>

	<!-- Videos Section -->
	<section id="videos" class="content-section py-16 px-4 max-w-6xl mx-auto">
		<h2
			class="font-anaktoria text-3xl md:text-4xl text-[#e6dfd0] font-bold text-center mb-10"
		>
			Videos
		</h2>
		<div class="video-container relative w-full pb-[56.25%]">
			<iframe
				class="absolute top-0 left-0 w-full h-full"
				width="auto"
				height="auto"
				src="https://www.youtube.com/embed/AP_Olx-OD7w?si=jErs6ldZQXc4IQrk"
				title="The Waris - La Cosecha de las Malas Siembras (En Vivo)"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen
				loading="lazy"
			>
			</iframe>
		</div>
	</section>

	<!-- Social Section -->
	<section id="social" class="content-section py-16 px-4 max-w-4xl mx-auto">
		<h2
			class="font-anaktoria text-3xl md:text-4xl text-[#e6dfd0] font-bold text-center mb-10"
		>
			Conciertos
		</h2>
		<div
			class="social-feed-placeholder bg-[#1a1a1a] p-10 text-center rounded-lg mb-8"
		>
			<!-- Bandsintown Feed -->
			<script
				charset="utf-8"
				src="https://widgetv3.bandsintown.com/main.min.js"></script>
			<a
				class="bit-widget-initializer"
				data-artist-name="id_15524530"
				data-events-to-display=""
				data-background-color="rgba(5,5,5,1)"
				data-separator-color="rgba(155,155,155,1)"
				data-text-color="rgba(255,255,255,1)"
				data-font="Helvetica"
				data-auto-style="true"
				data-button-label-capitalization="uppercase"
				data-header-capitalization="uppercase"
				data-location-capitalization="capitalize"
				data-venue-capitalization="uppercase"
				data-display-local-dates="true"
				data-local-dates-position="tab"
				data-display-past-dates="true"
				data-display-details="false"
				data-display-lineup="false"
				data-display-start-time="false"
				data-social-share-icon="false"
				data-display-limit="all"
				data-date-format="D, MMM YYYY"
				data-date-orientation="horizontal"
				data-date-border-color="#4A4A4A"
				data-date-border-width="1px"
				data-date-capitalization="capitalize"
				data-date-border-radius="10px"
				data-event-ticket-cta-size="medium"
				data-event-custom-ticket-text=""
				data-event-ticket-text="TICKETS"
				data-event-ticket-icon="false"
				data-event-ticket-cta-text-color="rgba(255,255,255,1)"
				data-event-ticket-cta-bg-color="rgba(74,74,74,1)"
				data-event-ticket-cta-border-color="rgba(74,74,74,1)"
				data-event-ticket-cta-border-width="0px"
				data-event-ticket-cta-border-radius="2px"
				data-sold-out-button-text-color="rgba(255,255,255,1)"
				data-sold-out-button-background-color="rgba(74,74,74,1)"
				data-sold-out-button-border-color="rgba(74,74,74,1)"
				data-sold-out-button-clickable="true"
				data-event-rsvp-position="left"
				data-event-rsvp-cta-size="medium"
				data-event-rsvp-only-show-icon="false"
				data-event-rsvp-text="Reservar"
				data-event-rsvp-icon="false"
				data-event-rsvp-cta-text-color="rgba(74,74,74,1)"
				data-event-rsvp-cta-bg-color="rgba(255,255,255,1)"
				data-event-rsvp-cta-border-color="rgba(74,74,74,1)"
				data-event-rsvp-cta-border-width="1px"
				data-event-rsvp-cta-border-radius="2px"
				data-follow-section-position="top"
				data-follow-section-alignment="center"
				data-follow-section-header-text="Mantente al día con nuestros shows, nueva música y más"
				data-follow-section-cta-size="medium"
				data-follow-section-cta-text="Seguir"
				data-follow-section-cta-icon="true"
				data-follow-section-cta-text-color="rgba(255,255,255,1)"
				data-follow-section-cta-bg-color="rgba(206,178,124,1)"
				data-follow-section-cta-border-color="rgba(74,74,74,1)"
				data-follow-section-cta-border-width="0px"
				data-follow-section-cta-border-radius="2px"
				data-play-my-city-position="bottom"
				data-play-my-city-alignment="center"
				data-play-my-city-header-text="¿No ves un concierto cerca?"
				data-play-my-city-cta-size="medium"
				data-play-my-city-cta-text="Solicita un concierto"
				data-play-my-city-cta-icon="false"
				data-play-my-city-cta-text-color="rgba(255,255,255,1)"
				data-play-my-city-cta-bg-color="rgba(206,178,124,1)"
				data-play-my-city-cta-border-color="rgba(74,74,74,1)"
				data-play-my-city-cta-border-width="0px"
				data-play-my-city-cta-border-radius="2px"
				data-optin-font=""
				data-optin-text-color=""
				data-optin-bg-color=""
				data-optin-cta-text-color=""
				data-optin-cta-bg-color=""
				data-optin-cta-border-width=""
				data-optin-cta-border-radius=""
				data-optin-cta-border-color=""
				data-language="es"
				data-layout-breakpoint="900"
				data-app-id=""
				data-affil-code=""
				data-bit-logo-position="bottomCenter"
				data-bit-logo-color="rgba(255,255,255,1)"></a>
		</div>
	</section>
</main>
